#searchInput{
    width: 100%;
    padding: 10px;
    border: 1px solid#ccc;
    border-radius: 6px;
}
.suggestions-dropdown{
    border: 1px solid #ccc;
    border-radius: 6px;
    max-width: 200px;
    overflow-y: auto;
    position: absolute;
    background: white;
    z-index: 1000;
    display: none;
}